body {
  background-color: rgb(249, 249, 249);
  font-family: brandon-grotesque, sans-serif;
  font-weight: 100;
}

div {
    min-height: 20vh;
    width: max;
}

/* header  */
.header {
  width: max;
  height:280px;
  background-color: white;
  text-align: center;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.header img {
  height:285px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/* social media buttons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 12px;
  height: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  position: absolute;
  right: 35px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  position: absolute;
  right: 91px;
}

.fa-instagram {
  background: #125688;
  color: white;
  position: absolute;
  right: 147px;
}


/* navigation menu */
div
.topnav {
  background-color: white;
  overflow: hidden;
}

.topnav a {
  font-weight: bold;
  width: 170px;
  margin-top: 10px;
  float: left;
  color: black;
  text-align: center;
  padding: 10px 40px;
  padding-bottom: 20px;
  text-decoration: none;
  font-size: 14px;
  height: 10px;
}

.topnav a:hover {
  background-color: rgb(41, 179, 164);
  color: white;
  font-size: 15px;
  transition: 0.6s ease;
}

.topnav a.active {
  background-color: rgb(41, 179, 164);
  color: white;
}

.topnav input[type=text] {
  float: left;
  padding-left: 10px;
  height: 25px;
  margin-top: 10px;
  font-size: 14px;
  border: 10px;
  width: 200px;
}

.topnav .search-container {
  float: right;
  margin-top: 7px;
}

.topnav .search-container button {
  float: right;
  margin-top: 10px;
  margin-right: 16px;
  height: 25px;
  background: #ddd;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.fa-search {
  margin-top: -15px;
}

.topnav .search-container button:hover {
  background: rgb(41,179,164);
  color: white;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

/* picture slideshow on index page */
.welcome h1{
  color: white;
  margin-top: -80px;
  text-align: center;
  padding-left: 130px;
  font-size: 4em;
  position: absolute;
  top: 720px;
}

.welcome h2{
  color: white;
  text-align: center;
  padding-left: 230px;
  font-size:2em;
  position: absolute;
  top: 750px;

}

{box-sizing: border-box;}

.slideshow-container {
    max-width: 2000px;
    margin:auto;
    position: relative;
    top: -80px;
    height: 450px;
}

.mySlides {
  display: none
}

img{
  vertical-align: middle;
}

.slider {
  min-height:900px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 70px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba (0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* boxes on pages other than home page */
.column {
  float: left;
  height: 400px;
  color: black;
  text-align: justify;
  background-color: white;
  font-size: 17px;
}
.column h2 {
  text-align: center;
  font-size: 28px;
}

.column.side {
  width: 20%;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 80px;
  padding: 10px;
}

.column.side img {
  width: 265px;
  height: 165px;
  transition: transform 1s;
  margin: 0 auto;
}

.column.side img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.column.middle {
  width: 30%;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 80px;
  padding: 10px;
  height: 770px;
}

.column.middle img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.column.middle img {
  width: 265px;
  height: 165px;
  transition: transform 1s;
  margin: 0 auto;
}

.column.middle iframe {
  width: 400px;
  height: 250px;
}

.column.middle img {
  width: 400px;
  height: 290px;
  align-items: center;
}

/* read more button */
#myBtn {
  background-color: white;
  color: blue;
  cursor: pointer;
  border: none;
}

#more {display: none;}

#more p {
  padding-left: 30px;
  padding-right: 30px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* about section on home page */
.aboutus {
  width: 100%;
  text-align: center;
  margin-bottom: auto;
}

.picturesofus img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 100px;
  margin-top:-80px;
}

.eleanor {
  float: left;
  width: 20%;
  padding-left: 310px;
  position: relative;
  margin: 0 auto;
}

.eleanor img{
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.eleanor img.eleanortop:hover {
  opacity: 0;
}

.eleanorinfo {
  margin-right: 85px;
  text-align: justify;
  position: absolute;
  top: 150px;
}

.kim {
  float: left;
  width: 20%;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.kim img {
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.kim img.kimtop:hover {
  opacity: 0;
}

.kiminfo {
  margin-right: 85px;
  text-align: justify;
  position: absolute;
  top: 150px;
}

.lauren {
  float: left;
  width: 20%;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.lauren img {
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.lauren img.laurentop:hover {
  opacity: 0;
}

.laureninfo {
  margin-right: 85px;
  text-align: justify;
  margin-top: 150px;
}

.picturesofus:after {
  content: "";
  display: table;
  clear: both;
}

/* twitter feed */
.twittertl {
  padding-left: 380px;
  margin-bottom: 50px;
  margin-top: -80px;
}

/* contact form */
.contact {
  width: 100%;
  text-align: center;
  margin-bottom: -80px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ddd;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(41, 179, 164);
  color: white;
}

.container {
  border-radius: 5px;
  background-color: rgb (249, 249, 249);
  padding: 20px;
  width: 40%;
  padding-left: 30%;
  margin-top: 50px;
}

footer {
  display: block;
  text-align: center;
}
